{# templates/aperture.html #}
{% extends 'base.html' %}

{% block title %}Aperture – Depth and Light in One Setting{% endblock %}

{% block extra_head %}
  {# 若本页需要额外的 CSS/JS，可放在这里 #}
{% endblock %}

{% block content %}
  <h1>Aperture – Depth and Light in One Setting</h1>
  <p class="subtitle">
    Aperture controls the size of the opening in your lens, affecting:
  </p>
  <div class="bullets">
    <ul>
      <li>A wider aperture (like f/1.8) lets in more light.</li>
      <li>Smaller aperture (like f/16) reduces light.</li>
    </ul>
    <ul>
      <li>Wider aperture = shallow depth of field (portraits).</li>
      <li>Smaller aperture = greater depth of field (landscapes).</li>
    </ul>
  </div>
{% endblock %}

{% block nav_buttons %}
  <a href="{{ url_for('shutter_speed_page') }}" class="side-nav side-nav-left">
    <span class="arrow">&lt;</span>
  </a>
  <a href="{{ url_for('simulator_page') }}" class="side-nav side-nav-right">
    <span class="arrow">&gt;</span>
  </a>
{% endblock %}


