{# templates/iso.html #}
{% extends 'base.html' %}

{% block title %}ISO – Controlling Light Sensitivity{% endblock %}

{% block extra_head %}


{% endblock %}


{% block content %}
<h1>ISO – Controlling Light Sensitivity</h1>
<p class="subtitle" style="margin-bottom: 0;">
  ISO controls how sensitive your camera sensor is to light.
</p>
<!-- <div class="iso-image" style="text-align: center; margin: 0.0rem 0;">
  <img
    src="{{ url_for('static', filename='images/iso.png') }}"
    alt="ISO 示意图"
    style="width: 600px; height: auto;"
  >
</div> -->
<div class="iso-image">
  <a
    href="#"
    class="modal-trigger"
    data-img-url="{{ url_for('static', filename='images/iso.png') }}"
    title="点击查看原图"
  >
    <img
      src="{{ url_for('static', filename='images/iso.png') }}"
      alt="ISO 示意图"
      style="width: 500px; height: auto;"
    >
  </a>
</div>


<div class="bullets">
  <ul class="horizontal-list">
    <li>Lower ISO = cleaner image, ideal for well-lit scenes such as daytime.</li>
    <li>Higher ISO = works in low light but adds noise (graininess).</li>
  </ul>
</div>

<!-- 提示部分 -->
<!-- <div style="text-align: center; max-width: 800px; margin: 0 auto;">
  <p style="font-size: 1.5rem; font-style: italic; font-weight: 400;">
    ***Tip: Always try lowest ISO possible for cleanest result.***<br></br>
  </p>
  <p class="subtitle" style="margin-bottom: 0;">
    Click on a scene to see how ISO affects your photo:
  </p>
</div> -->
<div style="text-align: center; max-width: 800px; margin: 0 auto;">
  <p class="subtitle">
    Click on a scene to see how Aperture affects your photo:
  </p>
</div>
<!-- 跳转链接 -->
<div style="text-align:center; margin-top:1rem;">
  <a href="#" class="modal-trigger btn-action" data-img-url="{{ url_for('static', filename='images/bright_sunny.jpeg') }}">
    Bright Outdoor (Sunny Day)
  </a>
  &nbsp;|&nbsp;
  <a href="#" class="modal-trigger btn-action" data-img-url="{{ url_for('static', filename='images/night_portrait.jpg') }}">
    Night Outdoor Portrait
  </a>
</div>

<!-- Modal 结构 -->
<div id="imageModal" class="modal-overlay">
  <img src="" alt="" class="modal-content">
</div>

{% endblock %}

{% block nav_buttons %}
  <a href="{{ url_for('home') }}" class="side-nav side-nav-left">
    <span class="arrow">&lt;</span>
  </a>
  <a href="{{ url_for('shutter_speed_page') }}" class="side-nav side-nav-right">
    <span class="arrow">&gt;</span>
  </a>
{% endblock %}
